body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1px;
  max-width: 400px;
  background-color: rgb(231, 223, 223);
  margin: 40px auto;
  position: relative;

  .item {
    aspect-ratio: 1 / 1;
    border: 1px solid snow;
    position: relative;

    &.item-bg {
      background-color: rebeccapurple;
    }

    span {
      position: absolute;
      font-weight: 600;
      pointer-events: none;
    }

    &-list {
      &-number {
        top: 3px;
        left: 5px;
      }

      &-letter {
        bottom: 3px;
        right: 5px;
      }
    }

    &-figure {
      position: absolute;
      width: 49px;
      height: 49px;
      transform: translate(-5%, -100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      z-index: 2;
      cursor: pointer;

      &.active {
        position: absolute;
        inset: 0;
        background-color: rgba(5, 53, 17, 0.5);
      }
    }
  }

}