header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 208, 177);

  img {
    width: 100px;
    height: auto;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
}